.loc-header {
	font-family: "trebuchet ms", sans-serif;
	font-size: 24px;
	text-shadow: 2px 2px 2px rgba(27, 128, 139, 0.5);
	margin-top: 40px;
}

.loc-address {
	margin: 0;
	padding: 0%;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 25px;
	font-size: 20px;
	text-shadow: 2px 2px 2px rgba(85, 86, 86, 0.5);
	margin-top: 20px;
}

.loc-hours ul {
	list-style-type: none;
	margin-left: 5px;
	padding: 0%;
	overflow: hidden;
	font-size: medium;
	text-shadow: 2px 2px 2px rgba(85, 86, 86, 0.5);
	margin-top: 20px;
}
